.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}